<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="row my-4">
        <div class="col-6">
          <h3 class="">
            <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
          </h3>
        </div>
          <table class="table table-borderless">
            <tr>
              <th>会員ID</th>
              <th><%= @customer.id %></th>
            </tr>
            <tr>
              <th>氏名</th>
              <th><%= @customer.last_name %>　<%= @customer.first_name %></th>
            </tr>
            <tr>
              <th>フリガナ</th>
              <th><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></th>
            </tr>
            <tr>
              <th>郵便番号</th>
              <th><%= @customer.postal_code %></th>
            </tr>
            <tr>
              <th>住所</th>
              <th><%= @customer.address %></th>
            </tr>
            <tr>
              <th>電話番号</th>
              <th><%= @customer.tel_number %></th>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <th><%= @customer.email %></th>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <th>
                <%= if @customer.status == true %>
                  <b><%= f.label :"有効",class="text-primary" %></b>
                <% elsif @customer.status == false %>
                  <b><%= f.label :"無効",class="text-primary" %></b>
              </th>
            </tr>
            <tr>
              <th></th>
              <th><%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success ml-4" %></th>
              <!--#注文履歴のパスができたら指定する-->
              <th><%= link_to "注文履歴一覧を見る", new_order_path, class:"btn btn-primary ml-4" %></th>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>

