<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">注文情報入力</h2>

    <div class="col-xs-offset-1">
        <%= form_with model: @order, local: true do |f| %>
          <h3 class="col-xs-3 sub-head text-center">支払い方法</h3>
            <div class="col-xs-10 radio">
              <%= f.radio_button :payment_method, "credit_card" %>
              <%= f.label :payment_method_credit_card, "クレジットカード", {value: :credit_card , style: "display: inline-block;"} %>
            </div>
            <div class="col-xs-10 radio">
              <%= f.radio_button :payment_method, "transfer" %>
              <%= f.label :payment_method_transfer, "銀行振込", {value: :transfer , style: "display: inline-block;"} %>
            </div>
        <% end %>
      </div>
  </div>
</div>