<div class="container">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-9">
      <h2>
        商品一覧
        <span class="h5">（全<%= @items.count %>件）</span>
      </h2>
      <% @items.each do |item| %>
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: '100x100' %>
            <%= item.name %>
            <%= item.price %>
          <% end %>
        </div>  
      <% end %>
    </div>
  </div>
</div>