<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pb-5 sticky-top"><%= render 'layouts/header' %></div>
    <div class="mb-5"><%= yield %></div>
    <div class="pt-5"><%= render 'layouts/footer' %></div>
  </body>
</html>

